<?xml version="1.0" encoding="utf-8"?>
<?include $(sys.CURRENTDIR)\Config.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="Bin" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CompGroup_MHB_CrateLoadDesigner">
            <Component Id="cmp88B61BB0895FD0A59E0E80BBB9BAF4F4" Directory="Bin" Guid="9A448626-1B59-4008-9FEC-D96E04AC2AFF">
                <File Id="fil6E328BC3AEFF064CC8264437778A9601" KeyPath="yes" Source="$(var.MHBCrateLoadDesignerBinSourceDir)\ExcelDataReader.dll" />
            </Component>
            <Component Id="cmp223F7A40DFEA68AB8E5332C1C201B6DC" Directory="Bin" Guid="E21C1F05-9F64-4EA5-8E2E-37E892DC7F02">
                <File Id="fil53216D1158CAC2A725AF4E77F7DA2DDE" KeyPath="yes" Source="$(var.MHBCrateLoadDesignerBinSourceDir)\log4net.dll" />
            </Component>
            <Component Id="cmpA7782FE330B4B643A652CAFB25D6B130" Directory="Bin" Guid="F243C360-D813-417D-9E2D-6D24827DCC8F">
                <File Id="filCC1D043D7644F6758B11158006A58583" KeyPath="yes" Source="$(var.MHBCrateLoadDesignerBinSourceDir)\MHB.CrateLoadDesigner.Desktop.exe" />
            </Component>
            <Component Id="cmpD80484880AEA818E46ECC53D261F16D8" Directory="Bin" Guid="6AF2DF37-7BC9-42B3-856B-5D9ED9606D39">
                <File Id="fil4330EE78A557694148B9BE53914F42CC" KeyPath="yes" Source="$(var.MHBCrateLoadDesignerBinSourceDir)\MHB.CrateLoadDesigner.Desktop.exe.config" />
            </Component>
            <Component Id="cmpE65E97B081A7D9A8C59F2E685F6CB269" Directory="Bin" Guid="01E4E4EB-008E-46FE-8E7E-A69ABDEBA796">
                <File Id="fil6B8D3ED0DDBA609879CB41AFCA8027DA" KeyPath="yes" Source="$(var.MHBCrateLoadDesignerBinSourceDir)\MHB.CrateLoadDesigner.Engine.dll" />
            </Component>
            <Component Id="cmp30514E41EB3A13C953C090B00E6C5631" Directory="Bin" Guid="FD04129C-00FD-4B5A-8A38-A4F721F86C24">
                <File Id="fil7EDD223459200EDD81A8E6F6B8079503" KeyPath="yes" Source="$(var.MHBCrateLoadDesignerBinSourceDir)\RectangleBinPack.dll" />
            </Component>
            <Component Id="cmp64874A6AA44AE8EA5EF21DE166ACA1D3" Directory="Bin" Guid="BBE8E37F-B12A-4B65-9C7C-CE86D1342F5C">
                <File Id="fil4CA2823E816DFAAF212EF70D25DFA665" KeyPath="yes" Source="$(var.MHBCrateLoadDesignerBinSourceDir)\RichTextBoxAppender.dll" />
            </Component>
            <Component Id="cmp84BB5F6380BAC7A6AA707C764F5B9C97" Directory="Bin" Guid="9D6A42CD-7BAE-49BC-9AC6-C7E5615326B2">
                <File Id="filD6F16025096C7EC5FA37321C27041CD2" KeyPath="yes" Source="$(var.MHBCrateLoadDesignerBinSourceDir)\Sharp3D.Math.dll" />
            </Component>
            <Component Id="cmpFA3F737CB13792E4A80AE73247CC1070" Directory="Bin" Guid="223F1E26-01EA-499A-AF30-3F331134146F">
                <File Id="fil78601734F77601AB601C5337002EB694" KeyPath="yes" Source="$(var.MHBCrateLoadDesignerBinSourceDir)\SourceGrid.dll" />
            </Component>
            <Component Id="cmpC84F6623B49D671A2535B33BDD33026B" Directory="Bin" Guid="04CE07DC-709D-45BB-B3C5-4295AB1ED3D9">
                <File Id="fil1287F0AF2D5F3C1F7FC2D2676331483F" KeyPath="yes" Source="$(var.MHBCrateLoadDesignerBinSourceDir)\WeifenLuo.WinFormsUI.Docking.dll" />
            </Component>
            <Component Id="cmp54399822F197E61A322210A374908FB5" Directory="Bin" Guid="E7A5BFDD-8C0A-4B7A-B033-44DAA07A7932">
                <File Id="filE00FCE124A5DD2725645CB4596B7B471" KeyPath="yes" Source="$(var.MHBCrateLoadDesignerBinSourceDir)\WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>