<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MHB.CrateLoadDesigner.Exporters.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MHB.CrateLoadDesigner.Exporters.Properties.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MHB.CrateLoadDesigner.Exporters.Properties.Settings>
            <setting name="FilePathTemplateTableOfContents" serializeAs="String">
                <value>D:\GitHub\MHBCrateLoadDesigner\Sources\Outputs\TemplateTableOfContents.xlsx</value>
            </setting>
        </MHB.CrateLoadDesigner.Exporters.Properties.Settings>
        <MHB.CrateLoadDesigner.Exporters.Properties.settings>
            <setting name="FilePathTemplateTableOfContents" serializeAs="String">
                <value>"D:\GitHub\MHBCrateLoadDesigner\Sources\Outputs\PROD.OrderStroom.7 - Part-list  Malfunctioning Export MHB.xlsx"</value>
            </setting>
        </MHB.CrateLoadDesigner.Exporters.Properties.settings>
    </userSettings>
</configuration>