<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MHB.CrateLoadDesigner.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <!-- log4net : begin-->
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RichTextBoxAppender" />
    </root>
    <appender name="RichTextBoxAppender" type="log4net.Appender.RichTextBoxAppender, RichTextBoxAppender">
      <mapping>
        <level value="WARN" />
        <foreColor value="Blue" />
        <isItalic value="true" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="ControlText" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="DarkGreen" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <foreColor value="Black" />
        <backColor value="Red" />
        <isBold value="true" />
        <isItalic value="true" />
        <pointSize value="10" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red" />
        <isBold value="false" />
        <pointSize value="10" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline%exception" />
      </layout>
    </appender>
    <system.diagnostics>
      <trace autoflush="false" indentsize="3" />
    </system.diagnostics>
  </log4net>
  <!-- log4net : end-->
  <userSettings>
    <MHB.CrateLoadDesigner.Desktop.Properties.Settings>
      <setting name="ShowLogConsole" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InputFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputFolder" serializeAs="String">
        <value />
      </setting>
    </MHB.CrateLoadDesigner.Desktop.Properties.Settings>
  </userSettings>
</configuration>